@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-weight: lighter;
}
html, body {
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-family: var(--fonte2);
    font-size: 10vw;
    padding-top: 8vw;
}
header > p{
    font-family: var(--fonte1);
    font-size: 1em;
    padding-bottom: 50px;
}
header  a, footer  a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section > p {
    background-color: white;
    color: black;
    font-family: var(--fonte3);
    font-size: 3vw;
    text-align: initial;
    padding-left: 3vw;
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
    width: 40vw;
    margin: 10px;
    margin-left: 2vw;
    padding-top: 5vw;
    padding-bottom: 5vw;    
    padding-left: 1vw;
}
section#imagem01 {
    background: black url(imagem/background001.jpg) right center no-repeat fixed;
    background-size: cover;
}
section#imagem02 {
    background: black url(imagem/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 6px
}